<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.miagenda" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MiAgenda</name>
  <description>Agenda digital Cordova</description>
  <author email="tuemail@example.com" href="https://example.com">Tu Nombre</author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-navigation href="*" />
</widget>
